:root {
  --node-rect-height: 50;
  --node-rect-width: 36;
  --node-rect-border-width: 3;
  --node-label-font-size: 10;
}

body {
  font-family: 'sans-serif';
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;

  .grid {
    opacity: 0.2;
    stroke-dasharray: 2;
  }

  .node {
    &:hover {
      cursor: row-resize;
    }

    &.pinned {
      rect {
        stroke: red;
      }
    }

    rect {
      height: calc((var(--node-rect-height)) * 1px);
      width: calc(var(--node-rect-width) * 1px);
      fill: white;
      stroke: black;
      stroke-width: calc(var(--node-rect-border-width) * 1px);
      rx: 10px;
    }

    image {
      transform: translate(calc(var(--node-rect-border-width) * 1px), calc(var(--node-rect-border-width) * 1px));
      width: calc((var(--node-rect-width) - var(--node-rect-border-width) * 2) * 1px);
      height: calc((var(--node-rect-height) - var(--node-rect-border-width) * 2) * 1px);
    }

    text {
      font-size: calc(var(--node-label-font-size) * 1px);
      font-weight: bold;
      dominant-baseline: text-before-edge;
      text-anchor: middle;
      transform: translate(calc((var(--node-rect-width) / 2) * 1px), calc(var(--node-rect-height) * 1px));
    }
  }

  .link {
    fill: none;
    opacity: 0.6;
    stroke-width: 10px;
  }
}
